body {
  background-color: white;
}

.header {
  height: 200px;
  position: relative;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.cropped {
  height: 100%;
}

.search {
  position: relative;
}

.search input {
  text-indent: 5%;
  border: 2px solid #d6d4d4;
  width: 100px
}

.search input:focus {
  box-shadow: none;
  border: 2px solid darkblue;
}

.search button {
  position: absolute;
  top: 1px;
  right: 0px;
  background: darkblue;
}

#map {
  padding-bottom: 40%;
  width: 80%; 
  margin: 0 auto
}

.error-text {
  color: red;
}