body {
  background-color: white;
}

.header {
  height: 200px;
  position: relative;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.cropped {
  height: 100%;
  width: 100%;
}

#map {
  padding-bottom: 40%;
  width: 80%; 
  margin: 0 auto
}

.error-text {
  color: red;
}

.search-button {
}


.card-header {
  border-bottom: 3px solid #39c0ed;
  background: transparent;
  text-align: center;
}

.form-control {
  border-color: transparent;
}

.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}