body {
  background-color: white;
}

.header {
  height: 200px;
  position: relative;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.divider {
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid #000;
  margin: 50px auto;
}

.heading {
  font-family: sans-serif;
}

.cropped {
  height: 100%;
  width: 100%;
}

.input-button {
  margin-bottom: 20px; 
}

#map {
  width: 100%;
  height: 500px; 
  padding-bottom: 40%;
}

@media (max-width: 768px) { 
  #map {
    height: 400px; 
  }
}

.card {
  border: none;
}

.card-header {
  border-bottom: 4px solid #0d6efd;
}

.card-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  padding: 0; /* Remove padding */
}

.form-control {
  border-color: transparent;
}

.input-group {
  width: 16ch;
  margin: auto;
  border:2px solid #0d6efd;
  border-radius: 10px;
}

#error {
  display: none;
  margin: auto;
  margin-bottom: 5px;
}

.body-text {
  padding: 0 20px;
}